
* {
    text-decoration: none;
    margin:0px;
    font-family: 'Inter';
    
}

.Header-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 361px;
    
    width: 1480.5px;
    height: 60px;
    
    flex: none;
    order: 0;
    flex-grow: 0;

}
.Header-logo{
   
width: 191px;
height: 34px;

flex: none;
order: 0;
flex-grow: 0;
}
.Header-logo img{
    position: absolute;
left: 220px;
top: 34.5px;
}
.Header-menu{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 928.5px;
height: 60px;
position: absolute;
left: 771.75px;
top: 34px;

flex: none;
order: 1;
flex-grow: 0;
}
.Nav-menu{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 551.5px;
height: 23px;

flex: none;
    order: 0;
    flex-grow: 0;
}

.Btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 377px;
    height: 60px;

    flex: none;
    order: 1;
    flex-grow: 0;
}


.Hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    isolation: isolate;

    position: absolute;
    height: 829px;
    left: 0px;
    right: 0px;
    top: 92px;
    width: 1921px;
background: #FFFFFF;
}
.ElementTwo{
    position: absolute;
    width: 2651.8px;
    left: calc(50% - 2651.8px/2 - 0.1px);
    top: 23.19%;
    bottom: 10.82%;

    opacity: 0.9;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 1480px;
    height: 549px;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.Heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    
    width: 656px;
    height: 361px;

    flex: none;
    order: 0;
    flex-grow: 0;
   
}
.Text-block-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;

    width: 656px;
    height: 238px;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

   
}
.Text-block-header h1{
    width: 656px;
    height: 154px;
    
    /* Header/H2 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    
    color: #4F9CF9;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}
.Text-block-header p{
    width: 656px;
    height: 60px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    letter-spacing: -0.02em;
    
    color: #4F9CF9;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.Btn-free-trial{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 219px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
   
}
.Image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 824px;
    height: 549px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
   
}

/*-------------------------------- */
/* WORK MANAGEMENT */

.work-management {

    /* Work-management */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 140px 220px;
    gap: 100px;

    position: absolute;
    height: 1588px;
    left: 0px;
    right: 0px;
    top: 921px;
    width: 1921px;

}

.block {
    /* Block */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 1308px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.content-one {
    /* Content */
    width: 1480px;
    height: 547px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    /* gap: 60px; */
    isolation: isolate;

    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;


}

 .background-image {  
    position: absolute;
    height: 448.51806640625px;
    width: 602.8355102539062px;
    left: 0px;
    top: 405px;
    border-radius: 0px;
    mix-blend-mode: multiply;
    opacity: 0.2;  
}

.element-one {

    /* Element */

position: absolute;
height: 28.1956940206237793px;
width: 274.0001220703125px;
top: 480px;

}
.element-two  {

    position: absolute;
    height: 30.111492156982422px;
    width: 318.7454833984375px;
    left: 955px;
    top: 200px;
}


.headline-one{
    /* Headline */
    width: 672px;
    height: 411px;
    top: 68px;



    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 60px; */

   

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;

}

.text-block-one {
    /* Text-block */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;

    width: 672px;
    height: 288px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    
}

h1 {
    /* Project Management */

    width: 672px;
    height: 174px;

    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;

    color: #212529;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;

    
}

.text-block-two h1 {
    height: 87px;

}

p {
    width: 672px;
    height: 90px;
    top: 198px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    letter-spacing: -0.02em;
    
    color: #212529;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;

    
}

.headline-one button {
    /* Btn-get-started */
    position: absolute;
    margin-top: 348px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;

    width: 201px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

button a {

    width: 97px;
    height: 23px;

    /* Paragraph/P2/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height, or 128% */
    letter-spacing: -0.02em;

    color:#FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.image-container {
    /* Image-container */

    width: 748px;
    height: 547px;

    /* Primary/100 */
    background: #C4DEFD;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}
/* ---------------------------------------------------------------- */

.content-two {
    /* Content */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;

    width: 1480px;
    height: 661px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.work-together-image {

    width: 710px;
    height: 661px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headline-two{

    /* Headline */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 670px;
    height: 294px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.text-block-two {
    
    width: 670px;
    height: 87px;
    
    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;
    
    color: #212529;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;

}

.content-two button{
    /* Btn-get-started */
    position: absolute;
    margin-top: 231px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;

    width: 186px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}


/* -----------------Customise Your Needs----------------------------- */
.Customise-it-to-your-needs {

    width: 1921px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 220px;
    gap: 98px;
    
    position: absolute;
    height: 759px;
    left: 0px;
    right: -1px;
    top: 2509px;

}

.block-three {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 98px;
    
    width: 1481px;
    height: 479px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.heading {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 697px;
    height: 381px;
    

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.text-block-three {

   /* Text-block */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;

    width: 697px;
    height: 258px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.text-block-three .text-one {

    width: 697px;
    height: 174px;

    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -0.02em;

    color: #212529;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;

}

.text-block-three .text-two{
    width: 697px;
    height: 60px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    letter-spacing: -0.02em;
    
    color: #212529;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;


    
}
.heading button {
    /* Btn-get-started */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    
    width: 176px;
    height: 63px;

    background: #4F9CF9;
    border-radius: 6px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.illustration {
    /* Image */

    width: 686px;
    height: 479px;

    /* Primary/100 */
    background: #C4DEFD;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.pricing-container {
    /* Pricing */

    width: 1921px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
    position: absolute;
    height: 1272px;
    left: 0px;
    right: -1px;
    top: 3268px;


}


.price-board {
    /* Price list */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 1481px;
    height: 761px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.block-four {
    
    /* Block */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;

    width: 1481px;
    height: 992px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.heading-four {

    /* Heading */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    isolation: isolate;

    width: 1481px;
    height: 171px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.heading-four h1 {
    /* Choose Your Plan */

    width: 1481px;
    height: 87px;

    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #212529;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;

}

.heading-four p {
    width: 979px;
    height: 60px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #212529;
    align-self: center;

    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;


}

.price-board p {
    width: 384.33px;
    height: 36px;
    
    /* Paragraph/P1/Semibold */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.price-board h4 {
    /* $0 */

    width: 384.33px;
    height: 44px;

    /* Header/H4 */
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: -0.02em;

    color: #212529;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}


button {
    /* Btn-get-started */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;

    width: 166px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.personal button {
    /* Btn-get-started */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;

width: 166px;
height: 51px;

background: #4F9CF9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;

color: #FFFFFF;

}


.free {
    /* Price-board */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 44px;
    gap: 25px;

    width: 472.33px;
    height: 634px;

    background: #FFFFFF;
    border: 1px solid #FFE492;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    

}

.text-block-price-list {
/* Text-block-01 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;

width: 384.33px;
height: 153px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.personal .text-block-price-list {

margin-left: 44px;

}

.personal ul {

    margin-left: 44px;
}

.personal button {
    margin-left: 44px;
}
.bullets {
/* Bullet-point */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 384.33px;
height: 300px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}
ul {
    gap: 19px;
}
.personal {
/* Price-board */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 25px;


width: 472.33px;
height: 761px;

background: #FFFFFF;
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}

.personal p {
    color: #043873;
}
.personal h4 {
    color: #043873;
}
.personal {    
    color: #043873;
}

.organization {

/* Price-board */


box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 40px 44px;
gap: 25px;

width: 472.33px;
height: 634px;

background: #FFFFFF;
border: 1px solid #FFE492;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;

}

ul {
    list-style-image: url("/img/Icon.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ////////////////////Your Work///////////////////////////////////////////// */


.your-work {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 220px;
    width: 1921px;
    position: absolute;
    left: 0px;
    right: -1px;
    top: 4540px;
    
    background: #043873;

}

.your-work-heading {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;

    width: 1481px;
    height: 294px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.your-work-heading-text-block{
/* Text-block */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
isolation: isolate;

width: 1064px;
height: 171px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.your-work-heading-text-block .text-one {

/* Your work, everywhere you are */

width: 1064px;
height: 87px;

/* Header/H1 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 87px;
letter-spacing: -0.02em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;
}


.your-work-heading-text-block .text-two {

    width: 1064px;
    height: 60px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;
    }

    .background-image-your-work {

        /* BACKGROUND */

    position: absolute;
    width: 680.74px;
    height: 691.34px;
    left: -1028.81px;
    top: 281.47px;

    opacity: 0.2;
    transform: rotate(-105deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

.element-three {

    position: absolute;
    height: 24px;
    width: 314px;
    left: 1170px;
    top: 209px;
    border-radius: 0px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

.your-work button {
    /* Btn-try */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
gap: 10px;
isolation: isolate;

width: 195px;
height: 63px;

background: #4F9CF9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* ////////////////////Your Data///////////////////////////////////////////// */

.your-data {
    /* Your data */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

position: absolute;
height: 661.13px;
left: 0px;
right: -1px;
top: 5114px;
width: 1921px;

}
.your-data-block{

/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 1481px;
height: 381.13px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.your-data-block-heading {
/* Heading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 800px;
height: 324px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.your-data button { 


    /* Btn-try */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
gap: 10px;

width: 197px;
height: 63px;

background: #4F9CF9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}


.your-data-text-block {
/* Text-block */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;
isolation: isolate;

width: 800px;
height: 201px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}

.your-data-text-block .text-one { 
/* 100% your data */

width: 800px;
height: 87px;

/* Header/H1 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 87px;
letter-spacing: -0.02em;

color: #212529;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;

}

.your-data-text-block .text-two { 
    width: 800px;
    height: 90px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    letter-spacing: -0.02em;
    
    color: #212529;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 2;


} 
.element-four { 


    /* Element */

width: 681px;
height: 381.13px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

/* ////////////////////Sponsors///////////////////////////////////////////// */


.sponsors {
/* Our sponsors */

/* Auto layout */
width: 1921px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 100px;
isolation: isolate;

position: absolute;
height: 538px;
left: -1px;
right: -1px;
top: 5775.13px;

}

.sponsors .element {
/* Element */

position: absolute;

height: 42.47px;
width: 328.03px;
left: 1115px;
top: 340px;
border-radius: 0px;

}

.sponsor-block {

/* Block */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 100px;

width: 1482px;
height: 258px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


}
.sponsor-block .text-one {

/* Our sponsors */

width: 1482px;
height: 87px;

/* Header/H1 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 87px;
text-align: center;
letter-spacing: -0.02em;

color: #212529;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.sponsor-block .sponsor-logo {
/* sponsors */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 100px;

width: 1482px;
height: 71px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

/* ////////////////////Apps///////////////////////////////////////////// */

.apps {
/* Apps */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
/* padding: 140px 220px; */
gap: 100px;
isolation: isolate;

position: absolute;
height: 750.8px;
left: 0px;
right: 0px;
top: 6313.13px;

background: #043873;
width: 1921px;



}

.apps-block {
/* Block */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 100px;
padding-top: 140px;

width: 1480px;
height: 470.8px;
}

.apps-background {


    width: 582px;
    height: 470.8px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.apps-heading {
    /* Heading */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    width: 798px;
    height: 468px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.apps-text-block {

    /* Text-block */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 798px;
    height: 345px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

   
.apps-text-block .text-one {
    width: 798px;
height: 261px;

/* Header/H1 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 87px;
letter-spacing: -0.02em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}


.apps-text-block .text-two { 

    width: 798px;
height: 60px;

/* Paragraph/P2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
letter-spacing: -0.02em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


.button-apps {
/* Btn-try */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 40px;
gap: 10px;

width: 194px;
height: 63px;

background: #4F9CF9;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


}

.apps .element-two {

/* Element */

position: absolute;
width: 2041.06px;
height: 700.4px;
left: -60.03px;
top: 9.78px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;

}

/* ////////////////////Testimonial////////////////////////////////////////// */


.testimonial {
/* Testimonial */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 140px 220px;
gap: 60px;
isolation: isolate;

position: absolute;
height: 1042px;
left: 0px;
right: 0px;
top: 7063.93px;
width: 1921px;


}

.testimonial-block {
/* Block */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 1480px;
height: 627px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}
.testimonial-block .text-one {
    width: 1480px;
    height: 87px;
    
    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #212529;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.testimonial-slider {

    /* Slider */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 100px;

width: 250px;
height: 75px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}


.testimonial .element-five {

    position: absolute;
    height: 50px;
    width: 258px;
    left: 1130px;
    top: 320px;
    border-radius: 0px;
}

.testimonial-content {

    /* Content */

/* Auto layout */
/* margin-top: 147px; */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 1480px;
height: 480px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}



.client-one {
    /* Client */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 40px;
gap: 49px;

width: 472px;
height: 480px;

background: #FFFFFF;
box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
}
.comment {
    /* Comment */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 35px;

width: 350px;
height: 255px;



}

.client-two {
/* Client */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 40px;
gap: 49px;

width: 472px;
height: 480px;

background: #4F9CF9;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
}
.client-three {
/* Client */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 40px;
gap: 49px;

width: 472px;
height: 480px;

background: #4F9CF9;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}

.avatar {


    width: 70px;
    height: 70px;

    background: url(.png);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial-name-star {

    /* Name */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 194px;
    height: 56px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial .name-lastname {


    /* Founder, Acme Compan */
    
    width: 194px;
    height: 30px;
    
    /* Paragraph/P2/Regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    letter-spacing: -0.02em;
    
    color: #01252A;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    }
.testimonial .name-lastname .name{

    width: 137px;
height: 22px;

/* Paragraph/P2/Bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: -0.02em;

color: #01252A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.testimonial h1 {

    width: 1480px;
    height: 87px;

    /* Header/H1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #212529;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
